
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481623588304'); /* IE9*/
  src: url('iconfont.eot?t=1481623588304#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481623588304') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481623588304') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481623588304#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontclosesmall:before { content: "\e66c"; }

.icon-daima:before { content: "\e615"; }

.icon-zhuce:before { content: "\e7cd"; }

.icon-denglu:before { content: "\e62f"; }

.icon-home:before { content: "\e616"; font-size:20px; }

.icon-guanyu:before { content: "\e643"; font-size:18px; }

.icon-xiangmu:before { content: "\e60b"; }

.icon-zuopin:before { content: "\e664"; }

.icon-wenzhang:before { content: "\e614"; }

.icon-git:before { content: "\e60f"; }

.icon-out:before { content: "\e60a"; }

